body{
    margin: 0;
    padding: 0;
    background-color: #246A73;
}
.information{
    position: relative;
    top: 10rem;
    left: 20rem;
    color: #F3DFC1;
    font-size: 20px;
}

img{
    position: relative;
    width: 25%;
    height: 25%;
    top: 25%;
    left: 40%;
};
.card{
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    
    grid-gap: 0.5rem;
}
h1{
    text-align: center;
    color: #F3DFC1;
}